<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Home</title>
</head>

<body>

  <h1>Welcome!!!</h1>

  <form action="password">
    <h2>Password Generator</h2>

    <label form="lenght">Select the lenght of your password:</label>
    <select name="lenght" id="lenght">
      <option value="6">6 Characters</option>
      <option value="7">7 Characters</option>
      <option value="8">8 Characters</option>
      <option value="9">9 Characters</option>
      <option value="10">10 Characters</option>
      <option value="11">11 Characters</option>
      <option value="12">12 Characters</option>
      <option value="13">13 Characters</option>
      <option value="14">14 Characters</option>
    </select>

    <label form="uppercase">Uppercase</label>
    <input type="checkbox" name="uppercase" id="uppercase">

    <label form="special">Special Characters</label>
    <input type="checkbox" name="special" id="special">

    <label form="numbers">Numbers</label>
    <input type="checkbox" name="numbers" id="numbers">

    <button>Generate password</button>
  </form>
</body>

</html>
